#Objective 03 - Use Basic Pandas Functions for Exploratory Data Analysis-EDA Overview

In [ ]:
# Import pandas
import pandas as pd

# Read the data from the website
url_mms = 'https://tinyurl.com/mms-statistics'
df = pd.read_csv(url_mms)

# Look at the shape
df.shape
(816, 4)

# Look at the head of the file
df.head()

            type   color  diameter  mass
0  peanut butter    blue     16.20  2.18
1  peanut butter   brown     16.50  2.01
2  peanut butter  orange     15.48  1.78
3  peanut butter   brown     16.32  1.98
4  peanut butter  yellow     15.59  1.62

In [ ]:
# DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      816 non-null    object
 1   color     816 non-null    object
 2   diameter  816 non-null    float64
 3   mass      816 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.6+ KB

In [ ]:
# DataFrame describe
df.describe()

         diameter        mass
count  816.000000  816.000000
mean    14.171912    1.419632
std      1.220001    0.714765
min     11.230000    0.720000
25%     13.220000    0.860000
50%     13.600000    0.920000
75%     15.300000    1.930000
max     17.880000    3.620000

In [ ]:
# DataFrame columns
df.columns

Index(['type', 'color', 'diameter', 'mass'], dtype='object')

In [ ]:
# Drop the mass column
df.drop(columns='mass').head()

            type   color  diameter
0  peanut butter    blue     16.20
1  peanut butter   brown     16.50
2  peanut butter  orange     15.48
3  peanut butter   brown     16.32
4  peanut butter  yellow     15.59

In [ ]:
# Count the values in the 'type' column
df['type'].value_counts()

plain            462
peanut butter    201
peanut           153
Name: type, dtype: int64

##Now, while using the M&Ms data set, 1)practice loading and exploring the DataFrame; specifically, 2)learn if there are any Null or NaN values in this data set and remove them if there are. 3)You can also practice using the df.sort_values() method on one of the numeric columns (‘mass’ or ‘diameter’)

In [ ]:
#1)
df=pd.read_csv("https://tinyurl.com/mms-statistics")
#2)
df.isnull().sum()

type        0
color       0
diameter    0
mass        0
dtype: int64

In [ ]:
#3)
df.sort_values('mass')

       type   color  diameter  mass
324   plain  yellow     12.32  0.72
571   plain  orange     12.56  0.73
616   plain   green     11.23  0.73
225   plain  orange     13.04  0.74
462   plain     red     12.61  0.76
..      ...     ...       ...   ...
717  peanut    blue     15.71  3.27
738  peanut  yellow     15.76  3.37
762  peanut   green     16.36  3.48
785  peanut    blue     17.88  3.57
690  peanut  orange     16.70  3.62

[816 rows x 4 columns]